.row{
    margin: 20px;
    padding: 10px;
}
.add-to-cart-btn{
    background-color: #4e43e8;
    border: none;
    border-radius: 10px;
    color: white;
    box-shadow: 2px 2px 7px black;
    margin-bottom: 10px;
    padding: 10px;
}
.price-tag{
    padding-top: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

